.slider 
  .slider__list-wrapp 
    ul.slider__list 
      li.slider__item.active 
        .slide__left 
          .slide__photo 
            img(src="assets/images/work-1.png", alt="")
        .slide__right 
          .slide__text 
            .slide__title.section__title-uppercase.undertitle САЙТ ШКОЛЫ ОНЛАЙН ОБРАЗОВАНИЯ
            .slide__techno HTML, CSSS, JS 
            a(href="", title="title").site__link
              div.site__button Посмотреть сайт
                svg(width='31', height='17').link__icon
                  use(xlink:href='assets/images/sprite.svg#link')
