extends ../template

block variables
    - var title = 'Блог'

block content
    .pl__l 
    .pl__r 
    include ../common/welcome
    div.accordeon#top 
        div.acco__trigers 
            a(href="", title="title").acco__triger.show Самое важное в SASS
            a(href="", title="title").acco__triger Приёмы в вёрстке, без которых не обходится ни один сайт
            a(href="", title="title").acco__triger Самый необходимый набор Gulp плагинов
            a(href="", title="title").acco__triger Почему я выбрал Jade
        div.acco__texts 
            div.acco-text
                div.blog__title.undertitle Самое важное в SASS
                div.date 16.03.2018
                div.blog__copywrite Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия. Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
            div.acco-text
                div.blog__title.undertitle Приёмы в вёрстке, без которых не обходится ни один сайт
                div.date 13 ноября 2016
                div.blog__copywrite Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия. Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
    include ../common/footer 
