.accordeon {
    position: relative;
    margin-top: 70px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    box-sizing: border-box;
    margin-bottom: 40px;
    margin-left: 100px;
    @include tablets {
        margin-left: 0;
    }
}

.acco__trigers {
    display: flex;
    flex-direction: column;
    width: 100%;
    @include tablets {
        display: none;
    }
}

.acco__triger {
    color: #455a64;
    text-decoration: none;
    padding: 18px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 16px;
    &:hover {
        text-decoration: underline;
    }
}

.acco-text {
    display: flex;
    flex-direction: column;
    margin-left: 116px;
    position: relative;
    margin-bottom: 120px;
    @include tablets {
        display: flex;
        flex-direction: column;
        margin-left: 24px;
    }
    @include phones {
        margin-left: 8px;
    }
}

.blog__title {
    text-align-last: left;
    color: $blue;
    font-family: "Roboto", sans-serif;
    font-size: 35px;
}

.date {
    color: $green;
    position: relative;
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

.blog__copywrite {
    color: $blue;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.show {
    border-right: 2px solid $green;
    color: $green;
}